body {
    margin: 0px;
    font-family:"Helvetica Neue",Arial,sans-serif;
    font-style:normal;
    font-size:13px;
}

div {
    display: block;
}

h1 {
    font: bold italic 20px Georgia,serif;
    color: #c63717;
    margin: 0px;
    padding: 20px 0px 15px 0px;
    text-align: center;
}

h1 img {
    vertical-align: bottom;
    max-height: 22px;
    margin-right: 2px;
    border-radius: 20%;
}

h4 {
    font: 14px Georgia,serif;
    color: #505050;
    text-align: center;
    line-height: 22px;
}

a {
    font-style: normal;
    text-decoration: none;
    color: #447bc4;
}

.main {
    width: 100%;
    background: radial-gradient(ellipse at center center,#eaeff2 0,rgba(125,185,232,0) 50%) repeat scroll 0 0,transparent linear-gradient(to bottom,#cae1f4 0,rgba(125,185,232,0) 100%) repeat scroll 0 0;
    margin: 0px;
    padding: 0px;
//    border-top: 2px solid #fff;
}

.listing {
    min-width: 900px;
    width: 900px;
    position: relative;
    height: auto;
    margin: 0 auto;


    background: #FCFDFE;
    background-image: -webkit-gradient(linear,left bottom,left top,from(#fcfdfe),to(#f4f8fc));
    background-image: linear-gradient(#fcfdfe,#f4f8fc);
    background-image: -moz-linear-gradient(#fcfdfe,#f4f8fc);
    background-image: -webkit-linear-gradient(#fcfdfe,#f4f8fc);
    border: 1px solid #c9ddf2;
    border-radius: 5px;
    box-shadow: 0 -2px 0 rgba(204,223,243,.3) inset, 0 0 1px rgba(0,0,0,.1);
    -moz-box-shadow: 0 -2px 0 rgba(204,223,243,.3) inset,0 0 1px rgba(0,0,0,.1);
    -webkit-box-shadow: 0 -2px 0 rgba(204,223,243,.3) inset, 0 0 1px rgba(0,0,0,.1);
    display: block;
    padding: 14px 14px 16px;
//    float: left;
}

.items {
    width: 100%;
    display: table;
    vertical-align: baseline;
}

.item {
    color: #505050;
    display: table-row;
}

.item .info {
    overflow: hidden;
    width: 50%;
    max-width: 470px;
    border: 1px dotted #c9ddf2;
    display: table-cell;
    padding: 16px 0 16px 64px;
    vertical-align: top
}

.item h3{
    margin: 0 0 5px;
    font-size: 16px;
    font-weight: 700;
    line-height: 18px;
}

.item h3 img:first-child {
    display: block;
    position: absolute;
//    left: 25px;
    max-height: 32px;
    max-width: 32px;
    margin: 0px 0px 0px -47px;
}

.item h3 img {
    padding-bottom: 2px;
    vertical-align: bottom;
}


.listing .item p {
    font-size: 12px;
    margin: 0;
    width: 90%;
}

span.no-restart{
    background-color: #e8933a;
    border-radius: 2px;
    color: #fff;
    display: inline-block;
    font: 700 8px/10px Arial;
    margin: 4px 0 0 5px;
    padding: 2px 4px;
    text-transform: uppercase;
    vertical-align: 3px;
}